/* Frames */
.ext_frame { z-index: 10; position: absolute; border: 1px solid #b5b5b5; border-radius: 5px 5px 0px 0px; }
.ext_frame_content { width: auto; padding: 12px; }
.ext_frame_header { padding-top: 6px; padding-bottom: 6px; }
/* .ext_frame_data { } */
.ext_frame_section_header { border-bottom: 1px solid; font-weight: bold; padding-top: 6px; }
.ext_frame_buttons { padding-top: 9px; text-align: center; }
/* #ext_suggest { } */
/* #ext_suggest_data { } */
/* #ext_options { } */
#ext_options_data { min-height: 96px; }
.ext_options_header_button { display: inline-block; background-color:#f5f5f5; border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee; font-weight:bold; color:#565656; cursor:pointer; padding:5px 10px 6px 7px; }
.ext_options_header_button_selected { background-color:#6299c5; color:#fff; }
.ext_option_required { text-decoration: underline; }
.ext_opt_has_parent_1 { margin-left: 12px; }
.ext_opt_has_parent_2 { margin-left: 20px; }
#ext_copyright { text-align: right; font-size: 0.8em; margin-top: -11px; margin-right: 2px; }
.ext_preview { position: absolute; z-index: 160; }
.ext_preview img { max-width: 300px; }
#ext_marker { max-width: 310px; }

/* New episodes pannel */
#new_episodes_button { z-index: 120; background-color: #333; position:fixed; top:104px; left:-72px; overflow:hidden; width:64px; height:64px; border: 1px solid black; border-top-right-radius: 15px; border-bottom-right-radius: 15px; padding-right: 4px; }
#new_episodes_pannel { display: none; z-index: 140; position: fixed; width: 430px; top: 100px; left: -432px; border: 1px solid black; border-top-right-radius: 15px; border-bottom-right-radius: 15px; }
.new_ep_header { text-align: center; font-size: 1.9em; border-top-right-radius: 12px; padding-bottom: 4px; line-height: normal; border-bottom: 1px dotted black; }
.new_ep_content { padding: 6px; color: black; min-height: 20px; max-height: 460px; overflow: auto; }
.new_ep_show_header { font-size: 1.2em; font-weight: bold; }
.new_ep_ep_block { border-top: 1px dashed black; padding-bottom: 6px; }
.new_ep_ep_title { padding-left: 6px; word-wrap: break-word; }
.new_ep_ep_details { padding-left: 16px; }
.new_ep_ep_size { display: inline-block; padding-left: 60px; width: 90px; }
.new_ep_ep_dl { padding-left: 30px; }
.new_ep_ep_autoget { padding-left: 30px; }
.new_ep_ep_bookmark { padding-left: 30px; }
.new_ep_buttons { text-align: center; border-bottom-right-radius: inherit; padding-top: 4px; padding-bottom: 4px; border-top: 1px dotted black; }

/* Torrent list columns */
.age_torrent_head { width: 40px; text-align: center; font-weight: bold; }
.age_torrent { width: 40px; text-align: center; }
.bookmark_torrent_head { width: 30px; text-align: center; font-weight: bold; }
.bookmark_torrent { width: 30px; text-align: center; }
.autoget_torrent_head { width: 26px; text-align: center; font-weight: bold; }
.autoget_torrent { width: 26px; text-align: center; }

/* Torrent list */
.g_state_button { border: 1px solid gray; border-radius: 3px; padding: 1px; cursor: pointer; }
.g_state_1 { background-color: lightgreen; }
.g_state_2 { background-color: lightcoral; }

/* Shoutbox */
#dupe_shoutbox_contain tr { line-height: 2; }

/* Badge */
.ext_badge_progress { text-align: center; }
.ext_badge_area { margin-top: 4px; display: inline-block; width: 90px; border-radius: 2px; padding: 1px; border: 1px solid gray; font-size: 9px; }
.ext_badge_bar { background-color: orange; height: 11px; border-radius: 1px; margin-bottom: -11px; }
.ext_badge_num { position: relative; }
.ext_badge_valid { background-color: lightgreen; }

/* Endless scrolling */
.page_loading { text-align: center; }

/* Misc */
.resume_endless_scrolling { font-size: 1.4em; font-weight: bold; }
.sig_separator { cursor: pointer; }
.sig_separator:hover { text-decoration: underline; }
#esPauseButton { display:none; text-decoration:none; position:fixed; bottom:10px; right:42px; overflow:hidden; width:26px; height:39px; border:none; text-indent:100%; }